body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    background-image: url(./Webp.net-compress-image-16.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 300px 1fr;
    justify-content: space-between;

    margin: 0;
    height: 700px;
}

.overlay,
.overlay2 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
}

.overlay.active,
.overlay2.active {
    display: flex;
}

.programs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.program h2 {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
}

.program img,
h3 {
    display: inline-block;
    height: 20px;
    object-fit: contain;
}

.board-container {
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    background-color: transparent;

    align-items: center;
    justify-content: center;
}

.title {
    border-radius: 30px;
    border-style: outset;
    padding: 3px 30px 3px 20px;
    margin-top: 0;

    width: fit-content;
    /* background-color: blue; */
    text-shadow: 5px 5px rgb(248, 207, 207);


    font-family: 'Rubik Pixels';
    font-size: 22px;


    display: flex;
    flex-direction: row;
    align-items: center;

    animation: blink 2s ease-in-out infinite alternate;

}

.mine-left {
    border: 10px solid transparent;
    display: flex;
    justify-content: space-between;
    text-align: center;
    /* margin-right: 40px; */
    width: 400px;}

#mines-count,
#timer {
    margin-bottom: 15px;
    background-color: rgb(240, 140, 9);
    height: 40px;
    width: 100px;
    color: ghostwhite;
    text-align: center;
    font-size: 30px;
    border: 5px solid rgb(228 219 206 / 38%);
    border-radius: 39px;
}

@keyframes blink {
    from {
        background: -webkit-linear-gradient(#f76713, #bb1307);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    to {
        background: -webkit-linear-gradient(#bb1307, #f76713);
    }
}

@keyframes floating {
    from {
        margin-top: 10px;
    }

    to {
        margin-top: -5px;
    }

}

.title-img {
    background-color: transparent;
    width: 60px;
    height: 60px;
    animation: floating 1s ease-in-out infinite alternate;
}



#board {
    width: 400px;
    height: 400px;
    background-color: rgb(221, 130, 32);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 3px 2px 8px 10px rgb(28, 27, 27);
    margin-bottom: 10px;
}

#board div {
    width: 48px;
    height: 48px;
    border: 1px solid white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px -2px 9px 1px rgb(165, 163, 163);
}

.tile-clicked {
    background: rgb(173, 169, 167);
}

.x1 {
    color: blue;
}

.x2 {
    color: green;
}

.x3 {
    color: red;
}

.x4 {
    color: navy;
}

.x5 {
    color: brown;
}

.x6 {
    color: teal;
}

.x7 {
    color: black;
}

.x8 {
    color: gray;
}

#flag-button {
    width: 100px;
    height: 50px;
    font-size: 20px;
    background-color: rgb(57, 120, 230);
    border-radius: 30px;
    display: none;
}

.restart {
    width: 25%;
    height: 100%;
}

.restart-face {
    height: 58px;
}



.choose {
    width: 60%;
    margin: 200px;
    border: 1px solid black;
    height: 300px;
    position: fixed;
    background-color: lightgray;
    display: none;
}

.close-btn,
.close-btn2 {
    position: absolute;
    right: 0;
    padding: 10px 15px;
    top: 0;
    color: white;
    background-color: red;
}

.choose.active {
    display: block;
}

#flag1,
#flag2,
#flag3,
#bomb1,
#bomb2,
#bomb3 {
    margin-left: 20px;
    width: 100px;
    height: 50px;
    font-size: 20px;
    background-color: lightgray;
    border: none;
}

#undo {
    width: 100px;
    height: 50px;
    font-size: 20px;
    background-color: rgb(57, 120, 230);
    border-radius: 30px;

    transition: all ease-in-out;
}

#undo:hover {
    background-color: #bb1307;
}

#flag1:hover,
#flag2:hover,
#flag3:hover,
#bomb1:hover,
#bomb2:hover,
#bomb3:hover {
    background-color: black;
}

#flag1,
#flag2,
#flag3,
#bomb1,
#bomb2,
#bomb3 {
    border: 1px solid black;
    border-radius: 10px;
}

div.program.choose-flag,
div.program.how-to-play,
div.program.mute {
    background-color: rgb(239, 236, 231);
    box-shadow: inset;
    width: 190px;
    height: fit-content;
    border-radius: 50px;
    border-style: groove;
    margin-bottom: 10px;
    transition: background-color ease-in-out 0.2s;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.btn-title {
    color: black;

}

.btn-title:hover {
    color: #fff;
}

div.program.choose-flag:hover,
div.program.how-to-play:hover,
div.program.mute:hover {
    background-color: rgb(37, 37, 37);
    cursor: pointer;
}

.icon_hcmiu {
    position: absolute;
    left: 98px;
    margin-top: 70px;
    width: 100px;
    height: auto;
    top: 0;
}

.undo-img {
    height: 30px;
    width: 30px;
}



.howToPlay {
    display: none;
}

.howToPlay.active {
    position: fixed;
    display: flex;
    width: 60%;
    margin: 200px;
    border: 1px solid black;
    background-color: lightgray;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.howToPlay h1 {
    text-align: center;
    width: 100%;
}



.howToPlay__list {

    list-style-type: none;
}

.howToPlay__line {
    padding: 6px 12px;

}

@media (max-width:1024px) {
    #flag-button {
        
        display: block;
    }
    #board-footer{
        display: flex;
        justify-content: space-around;
        width: 400px;
    }
    .board-container {
        margin-left: 0px;
        margin-right: 0px;}
}