body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    background-image: url(./Webp.net-compress-image-16.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 300px 1fr;
    justify-content: space-between;

    margin: 0;
    height: 700px;
}

.overlay,
.overlay2 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
}

.overlay.active,
.overlay2.active {
    display: flex;
}

.programs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.program h2 {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
}

.program img, h3 {
    display: inline-block;
    height: 20px;
    object-fit: contain;
}

.board-container {
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 30px;
    /* border: 10px rgb(0, 0, 160) solid; */
    background-color: transparent;

    align-items: center;
    justify-content: center;
}

.title {
    border-radius: 30px;
    border-style: outset;
    padding: 3px 30px 3px 20px;
    margin-top: 0;

    width: fit-content;
    /* background-color: blue; */
    text-shadow: 5px 5px rgb(248, 207, 207);


    font-family: 'Rubik Pixels';
    font-size: 22px;
    

    display: flex;
    flex-direction: row;
    align-items: center;

    animation: blink 5s ease-in-out infinite alternate;

}

#undo {
    width: 100px;
    height: 50px;
    font-size: 20px;
    background-color: rgb(57, 120, 230);
    border-radius: 30px;

    transition: all ease-in-out;
}

#flag-button {
    width: 100px;
    height: 50px;
    font-size: 20px;
    background-color: lightgray;
    border: none;
    border: 5px solid black;
    display: none;
}