body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    background-image: url(./Webp.net-compress-image-16.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 300px 1fr;
    justify-content: space-between;

    margin: 0;
    height: 700px;
}

.overlay,
.overlay2 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
}

.overlay.active,
.overlay2.active {
    display: flex;
}

.programs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.program h2 {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
}

.program img, h3 {
    display: inline-block;
    height: 20px;
    object-fit: contain;
}

.board-container {
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 30px;
    /* border: 10px rgb(0, 0, 160) solid; */
    background-color: transparent;

    align-items: center;
    justify-content: center;
}

.title {
    border-radius: 30px;
    border-style: outset;
    padding: 3px 30px 3px 20px;
    margin-top: 0;

    width: fit-content;
    /* background-color: blue; */
    text-shadow: 5px 5px rgb(248, 207, 207);


    font-family: 'Rubik Pixels';
    font-size: 22px;
    

    display: flex;
    flex-direction: row;
    align-items: center;

    animation: blink 5s ease-in-out infinite alternate;

}

.title-img {
    background-color: transparent;
    width: 60px;
    height: 60px;

    animation: floating 1s ease-in-out infinite alternate;
}

@keyframes blink {
    from {
        background: -webkit-linear-gradient(#f76713, #bb1307);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    } to {
        background: -webkit-linear-gradient(#bb1307, #f76713);
    }
}

@keyframes floating {
    from {
        margin-top: 10px;
    } to {
        margin-top: -5px;
    }
    
}

#mines-count,
#timer {
    margin-bottom: 5%;
    background-color: rgb(240, 140, 9);
    height: 40px;
    width: 22%;
    color: ghostwhite;
    text-align: center;
    font-size: 30px;
    border: 5px solid rgb(228 219 206 / 38%);
    border-radius: 39px;
}

#undo {
    width: 100px;
    height: 50px;
    font-size: 20px;
    background-color: rgb(57, 120, 230);
    border-radius: 30px;

    transition: all ease-in-out;
}

#flag-button {
    width: 100px;
    height: 50px;
    font-size: 20px;
    background-color: lightgray;
    border: none;
    border: 5px solid black;
    display: none;
}

.choose {
    width: 60%;
    margin: 200px;
    border: 1px solid black;
    height: 300px;
    position: fixed;
    background-color: lightgray;
    display: none;
}

.close-btn,
.close-btn2 {
    position: absolute;
    right: 0;
    padding: 10px 15px;
    top: 0;
    color: white;
    background-color: red;
}

.choose.active {
    display: block;
}

.howToPlay {
    display: none;
}

.howToPlay.active {
    position: fixed;
    display: flex;
    width: 60%;
    margin: 200px;
    border: 1px solid black;
    background-color: lightgray;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.howToPlay h1 {
    text-align: center;
    width: 100%;
}



.howToPlay__list {

    list-style-type: none;
}

.howToPlay__line {
    padding: 6px 12px;

}

.restart {
    width: 25%;
    height: 100%;
}
.restart-face {
    height: 58px;
}